# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.env
venv/
.envrc

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Project
saves/*.bak
*.bak.*

saves/*.json
saves/*.bak
saves/replays/**
